.leaflet-container {
    z-index: 1;
}
.hidden {
    display: none;
}
.blur {
    filter: blur(2px);
}

.grid {
    animation: slide-in 1s;
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 3fr; /* Two equal columns */
    grid-gap: 20px;

    align-items: center;
}

#infoWindowContainer {
    width: fit-content;
    z-index: 2;
    padding: 1.5%;
}

@keyframes slide-in {
    from {transform: translateX(-50%);}
    to {transform: translateX(0%);}
  }

